body {
    background-color: rgb(251, 247, 254);
    padding-top: 100px; /* Adjust this value based on the height of your navbar */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px; /* Add consistent spacing between products */
    margin: 55px auto; /* Add top/bottom margin for overall spacing */
    width: 80%;
}

.product {
    width: calc(33.33% - 20px); /* Adjust width to account for spacing */
    margin: 0; /* Remove margin to rely on the flexbox gap */
    border: 1px solid #ddd;
    padding: 10px;
}

.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Keep fixed positioning */
    top: 60%; /* Move vertically to the center */
    left: 50%; /* Move horizontally to the center */
    transform: translate(-50%, -50%); /* Adjust centering based on image size */
    width: 20px; /* Remove fixed width */
    height: 20px; /* Remove fixed height */
    background-color: rgba(250, 245, 245, 0.8); /* Optional: Add a translucent background */
  }
 