body {
  background-color: rgba(240, 191, 132, 0.291);
  font-family: 'Patrick Hand', sans-serif; /* פונט ילדותי יותר */  
}

.about-wrapper {
  padding-top: 100px;
  margin: 50px auto;
  animation: fadeIn 1s ease-in-out;
  max-width: 65%; /* Limit the maximum width of the wrapper */
  margin: 0 auto; /* Center the wrapper horizontally */
}

.about-container {
  text-align: center;
  padding: 20px;
  animation: slideIn 1s ease-in-out;
}

.about-title {
  text-align: center;
  color: #44cd35;
  margin-bottom: 20px;
  animation: pulse 1.5s ease-in-out; /* Changed to ease-in-out */
}

.about-subtitle {
  text-align: center;
  color: #35cdaa;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.about-mission-title {
  text-align: center;
  color: #cd35c0;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}

.about-text {
  color: rgb(127, 3, 44);
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.about-mission-list {
  color: rgb(127, 3, 44);
  list-style: none;
  padding: 0;
  text-align: center;
}

.about-mission-item {
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
}

.about-more-than-toys-list {
  color: rgb(127, 3, 44);
  list-style: none;
  padding: 0;
  text-align: center;
}

.about-more-than-toys-item {
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
}

.about-call-to-action {
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
  color: #e9670b;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}