
.productContainer {
    flex: 0 0 calc(20% - 15px); /* Maintain smaller size */
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.card {
    border: 5px solid #ffcccb; /* Nice border with light color */
    background-color: white; /* White background */
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 80%; 
    width: 300px;
    margin: auto; /* Center alignment */
    border-radius: 10px; /* Rounded corners */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}

.cardImage {
    object-fit: cover; /* Keep square aspect */
    height: 120px; 
    width: 100%;
    border-bottom: 2px solid #ffcccb; /* Light border below image */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.cardBody {
    /* ... other styles ... */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    flex-grow: 1;
    padding: 1rem; 
  }
  
  .title-container { 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
  }
  
  .price-container { 
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
  }

.cardTitle {
    font-weight: bold; /* Bold titles */
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #ff7f50; /* Coral color for title */
    text-align: center;
}

.cardText {
    margin-bottom: 0.5rem;
    font-size: 0.875rem; /* Smaller font size */
    color: #6495ed; /* Cornflower blue for text */
    text-align: center; /* Center text */
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  
    -webkit-box-orient: vertical;
    color: #ff69b4; /* Hot pink for description */
    text-align: center; /* Center description */
}

.price {
    font-size: 1.2rem; /* Regular font size */
    font-weight: bold; /* Bold price */
    color: #44338b; /* Lime green */
    text-align: center; /* Center text */
}

button {
    margin-top: auto; /* Push button to bottom */
    background-color: #e6ad97; /* Light salmon */
    color: rgb(230, 80, 150);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    text-align: center;
    width: 100%;
    
     
}

button:hover {
    background-color: #ec90c8; /* Orange red on hover */
    border-color: aliceblue;
}

@media (max-width: 992px) {
    .productContainer {
        flex: 0 0 calc(33.33% - 15px); /* 3 items per row */
    }
}

@media (max-width: 768px) {
    .productContainer {
        flex: 0 0 calc(50% - 15px); /* 2 items per row */
    }
}

@media (max-width: 576px) {
    .productContainer {
        flex: 0 0 100%; /* 1 item per row */
    }
}
