<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Register Menu</title>
    <link rel="stylesheet" href="../static/login.css">
    <meta name='viewport' >
</head>

<body>
    
    <div class="login-box">
<a href="https://storage.googleapis.com/docker-buckets/%D7%94%D7%A8%D7%99%D7%9D%20(64).JPG">For Picture click here</a>
<a href="https://storage.googleapis.com/docker-buckets/%D7%94%D7%A8%D7%99%D7%9D%20(65).JPG">for another image click here</a>
      <h1 class="_form-title">Register</h1>
        <form id="login-form" class="form_area" action="{{ url_for('register') }}" method="POST">

          <div class="user-box">
            <input type="text" name="username" placeholder="Username" required="">
          </div>

          <div class="user-box">
            <input type="password" placeholder="Password" name="password" required="">
          </div>

          <input type="submit" name="" value="register" onclick="submitForm();">

        </form>

    </div>

      <script>
        function submitForm() {
          document.getElementById("login-form").submit();
        }
      </script>

</body>
</html>
